body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    background-color: navy;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    
}

.nav-link{
    color: white;
    text-decoration: none;
    
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 110px;
    
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none
    
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 5px;
    line-height: 90px;
    width: max-content;
    
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 6px;
    
    
}

.nav-menu-link:hover{
    background-color: black;
    transition: 0.7s;
    
}