
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,500px);
    width: 98%;
    margin: 0 auto;
    gap: 20px;
}

.image {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

img {
    object-fit: contain;
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
}

.large-image{
    grid-row-start: 2;
    grid-column: span 2;
    border-radius: 8px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #647275;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.7s;
}

.button:hover {
    background-color: #2980b9;
}

a:hover {
    color: #ffcc00;
}


.name {
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    
}

